node_modules
/generated

*.db
*.db-journal

/data/tmp-imports/*
!/data/tmp-imports/.gitkeep

/public/uploads/*
!/public/uploads/.gitkeep

.env

.git
.gitignore
.claude
.windsurf
.agents

Dockerfile
.dockerignore
docker-compose.yml
